* {
  box-sizing: border-box;
}

body {
  background: #ccc;
}

.linha {
  display: flex;
  flex-flow: row wrap;
  margin: auto auto;
  align-items: center;
  margin-bottom: 1rem;
}

h1 {
  display: flex;
  flex-flow: row wrap;
  margin: auto auto;
  align-items: center;
  font-size: 2rem;
}

h2 {
  display: flex;
  flex-flow: row wrap;
  margin: auto auto;
  align-items: center;
  font-size: 2rem;
}

#linhas {
  display: flex;
  flex-flow: row wrap;
  margin: auto auto;
  align-items: center;
  font-size: 2rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#enter {
  display: flex;
  flex-flow: row wrap;
  margin: auto auto;
  align-items: center;
  font-size: 2rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
