* {
  box-sizing: border-box;
}

body {
  background: #ccc;
}

.linha {
  display: flex;
  flex-flow: row wrap;
  margin: auto auto;
  align-items: center;
  margin-bottom: 1rem;
}

h1 {
  display: flex;
  flex-flow: row wrap;
  margin: auto auto;
  align-items: center;
  font-size: 2rem;
}

#numX {
  display: flex;
  flex-flow: row wrap;
  margin: auto auto;
  align-items: center;
  font-size: 2rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#numY {
  display: flex;
  flex-flow: row wrap;
  margin: auto auto;
  align-items: center;
  font-size: 2rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}


#comparacaoMax {
  display: flex;
  flex-flow: row wrap;
  margin-left: auto;
  align-items: center;
  font-size: 2rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#comparacaoMin {
  display: flex;
  flex-flow: row wrap;
  margin-right: auto;
  align-items: center;
  font-size: 2rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#resultadoMax {
  display: flex;
  flex-flow: row wrap;
  margin: auto auto;
  align-items: center;
  font-size: 2rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#resultadoMin {
  display: flex;
  flex-flow: row wrap;
  margin: auto auto;
  align-items: center;
  font-size: 2rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}